@using EntityFramework_CodeFirst.ViewModels.Home
@model HomeIndexViewModel
@{
    ViewBag.Title = "Index";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Index</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                @Html.ActionLink("New Person", "Create", "Person", null, new { @class = "btn btn-primary" })
            </div>
            <br />
            <ul class="list-group">
                <li class="list-group-item active"><i class="fas fa-user-tie"></i> Persons</li>

                @foreach (var person in Model.Persons)
                {
                <li class="list-group-item">
                    @Html.ActionLink("Edit", "Edit", "Person", new { personid = person.ID }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Delete", "Delete", "Person", new { personid = person.ID }, new { @class = "btn btn-danger btn-sm" })
                    @(person.Name + " " + person.Surname + " (" + person.Age + ")")
                </li>
                }

            </ul>
        </div>
        <div class="col-md-6">
            <div>
                @Html.ActionLink("New Address", "Create", "Address", null, new { @class = "btn btn-primary" })
            </div>
            <br />
            <ul class="list-group">
                <li class="list-group-item active"><i class="fas fa-home"></i> Addresses</li>

                @foreach (var address in Model.Addresses)
                {
                    <li class="list-group-item">
                        @Html.ActionLink("Edit", "Edit", "Address", new { addressid = address.ID }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Delete", "Delete", "Address", new { addressid = address.ID }, new { @class = "btn btn-danger btn-sm" })
                        @address.AddressName <i>@("  (" + address.Person.Name + " " + address.Person.Surname + ")")</i>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>


